/* * { */
  /* box-sizing: border-box; */
/* } */

.App {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100px 1fr 1fr;
}

#prompter {
  background-color: green;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  padding: 10px;
}

#message {
  font-size: 24pt;
}

#program {
  background-color: pink;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  padding: 10px;
  font-size: 18pt;
  overflow: auto;
  white-space: nowrap;
}

#evaluator {
  background-color: cyan;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#expression, #evaluate-box {
  user-select: none;
  font-size: 24pt;
}

.code {
  font-family: 'Inconsolata', monospace;
}

.evaluatable {
  display: inline-block;
}

.binary-infix-operator {
  margin: 0 15px;
}

.literal {
  color: red;
}

.hovered {
  background-color: cornflowerblue;
}

.subexpression {
  display: inline-block;
  padding: 3px initial;
}

.active {
  background: cornflowerblue;
  border-radius: 10px;
}

.subexpression {
  position: relative;
}

.evaluate-popup {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 100%);
}

.evaluate-popup svg {
  display: block;
  margin: 0 auto 5px auto;
  fill: cornflowerblue;
}

#evaluate-box {
  text-align: center;
}

.shaking {
  transform: translateX(0);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
   10%, 90% { transform: translateX(-1px); }
   20%, 80% { transform: translateX(2px); }
   30%, 50%, 70% { transform: translateX(-4px); }
   40%, 60% { transform: translateX(4px); }
}

#memory {
  background-color: rgb(85%, 85%, 85%);
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.stack-frame {
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 7em 7em auto 10em 1fr;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
  background-color: white;
}

.cell {
  padding: 5px;
  font-size: 14pt;
}

.function-name-cell {
  grid-column: 1;
  grid-row: 1;
}

.variable-name-cell {
  grid-column: 2;
  text-align: right;
}

.variable-value-cell {
  grid-column: 4;
}

.variable-history-cell {
  color: darkgray;
}

.old {
  /* Old values are spans, and for some reason, overflowing content doesn't
     wrap between spans. */
  display: inline-block;

  text-decoration: line-through;
  padding-right: 1em;
}

.memory-value-input {
  width: 100%;
}

.indentation {
  white-space: pre;
}
