/* * { */
  /* box-sizing: border-box; */
/* } */

body {
  overscroll-behavior: none;
}

/* html, body, #root, .App { */
  /* margin: 0; */
  /* width: 100%; */
  /* height: 100%; */
/* } */

.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(85%, 85%, 85%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#top-panel {
  flex: 0 0;
}

#bottom-panel {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  flex-direction: row;
}

#left-panel {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

#right-panel {
  flex: 3 3;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: normal;
  font-size: 14pt;
  margin: 5px 10px 5px 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #888888;
}

#message {
  font-size: 18pt;
  white-space: pre-wrap;
}

.panel-name {
  color: #888888;
}

#top-bottom-separator, #evaluator-memory-separator, #program-console-separator {
  height: 10px;
  min-height: 10px;
  flex: 0 0;
}

#left-right-separator, #stack-heap-separator {
  width: 10px;
  min-width: 10px;
  flex: 0 0;
}

#program {
  padding: 0 10px;
  font-size: 18pt;
  overflow: auto;
  white-space: nowrap;
  flex: 1 1 0;
}

#console {
  white-space: pre;
  padding: 0 10px;
}

#evaluator {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-right-separator, #stack-heap-separator {
  cursor: col-resize;
}

#program-console-separator, #evaluator-memory-separator {
  cursor: row-resize;
}

#expression, #evaluate-box {
  /*
   I wanted to disable selection via clicking, but I don't seem to be able
   isolate that behavior. If can either disable clicking or disable selecting.
   */
  /* user-select: none; */

  font-size: 24pt;
  white-space: pre-wrap;
}

.code {
  font-family: 'Inconsolata', monospace;
}

.prompt-code {
  background-color: rgb(240, 240, 240);
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 0 2px gray;
}

.evaluatable {
  display: inline-block;
  cursor: pointer;
}

/* .binary-infix-operator { */
  /* margin: 0 15px; */
/* } */

.literal {
  color: red;
}

/* ------------------------------------------------------------------------- */
/* Preserve the order of stack-top, stack-below, and hovered.                */

.stack-below {
  background-color: rgb(255, 221, 158);
}

.stack-top {
  background-color: orange;
}

.hovered {
  background-color: cornflowerblue;
}

/* ------------------------------------------------------------------------- */

.subexpression {
  display: inline-block;
  padding: 3px initial;
}

.active {
  background: orange;
}

.subexpression {
  position: relative;
}

.evaluate-popup {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 100%);
}

.evaluate-popup svg {
  display: block;
  margin: -1px auto 5px auto;
  fill: orange;
}

#evaluate-box {
  text-align: center;
}

.shaking {
  transform: translateX(0);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#stack-frames {
  overflow: auto;
  padding: 10px;
}

@keyframes shake {
   10%, 90% { transform: translateX(-1px); }
   20%, 80% { transform: translateX(2px); }
   30%, 50%, 70% { transform: translateX(-4px); }
   40%, 60% { transform: translateX(4px); }
}

#memory-panel {
  display: flex;
  flex-direction: row;
  flex: 2 1 0;
  min-height: 0;
}

#heap-panel, #stack-panel, #evaluator-panel, #program-panel, #console-panel, #prompter-panel {
  position: relative;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
  background-color: white;
  margin: 0;
}

#prompter-panel {
  display: flex;
  align-items: center;
  background-color: #DAECFE;
  padding: 10px;
  font-size: 14pt;
}

#console-panel {
  flex: 1 1;
  min-height: 0;
  border-top-right-radius: 5px;
  background-color: #EDE8FF;
  font-family: monospace;
  font-size: 24pt;
}

#stack-panel {
  flex: 1 1 0;
  min-width: 0;
  background-color: rgb(85%, 85%, 85%);
  border-radius: 5px 5px 0 0;
  background-color: #FCECE6;
}

#heap-panel {
  flex: 1 1 0;
  min-width: 0;
  border-radius: 5px 0 0 0;
  background-color: cornsilk;
}

#program-panel {
  flex: 4 1 0;
  min-height: 0;
  border-radius: 0 5px 5px 0;
  background-color: #D4F9FC;
  display: flex;
  flex-direction: column;
}

#evaluator-panel {
  flex: 1 1 0;
  min-height: 0;
  background-color: cyan;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  background-color: #EDFFE9;
}

button {
  background: none;
  border: none;
  font-family: sans-serif;
  color: blue;
  padding: 0;
  margin: 0;
  outline: none;
}

button:hover {
  text-decoration: underline;
}

#stack-panel h1 {
  position: relative;
}

.panel-actions > button {
  font-size: 12pt;
}

.panel-actions {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 100;
}

.output-text {
}

.input-text {
  color: purple;
}

.stack-frame:not(:first-child) {
  border-top: 1px solid #F8D1C3;
  margin-top: 10px;
}

.stack-frame {
  display: grid;
  grid-template-columns: 2fr auto 1fr 3fr;
  /* grid-template-columns: 6em 9em auto 10em 1fr; */
  grid-auto-flow: dense;
  background-color: #ffd4c4;
}

.cell {
  padding: 5px;
  font-size: 14pt;
}

.function-name-cell {
  grid-column: 1 / span 4;
  background-color: #fdc5b0;
}

.variable-name-cell {
  grid-column: 1;
  text-align: right;
}

.ellipsize {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.expanded-tooltip {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px;
  overflow: visible;
  z-index: 9999999;
  border-radius: 3px;
  background-color: white; 
  color: black;
  box-shadow: 0 0 5px gray;
}

.ellipsize.expanded > .expanded-tooltip {
  display: block;
}

.arrow-cell {
  grid-column: 2;
}

.variable-value-cell {
  grid-column: 3;
}

.variable-history-cell {
  grid-column: 4;
  color: darkgray;
}

.variable-name-input {
  display: inline-block;
  width: 100%;
}

.old {
  /* Old values are spans, and for some reason, overflowing content doesn't
     wrap between spans. */
  display: inline-block;

  text-decoration: line-through;
  padding-right: 1em;
}

.memory-value-input {
  width: 100%;
}

.space {
  white-space: pre;
}
